# Sublime Text - an awesome text editor
*.sublime-workspace

# Composer
# 
# install directory
vendor/
# file about the currently installed versions
composer.lock

# Cache directory
cache/*
!cache/.gitkeep

# Node.js and Bower
node_modules/
bower_components/

# Public assets directory
public/assets/*
!public/assets/.gitkeep
