<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Abfahrtsmonitor{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="assets/app.min.css">

    <script src="assets/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>

  </head>
  <body>
    {% block body %}
      <div id="wrapper">
        <div class="row">
          <!-- left -->
          <div id="departure" class="col-md-7">
            {% include 'departure.html' with { 'stops': stops } %}
          </div>

          <!-- right -->
          <div id="weather">
            {% if display_weather %}
              {% include 'weather.html' with { 'weather': weather } %}
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" class="btn {{ (refresh) ? 'btn-success' : 'btn-default' }}" id="btn-timer"><i class="fa fa-clock-o" aria-hidden="true"></i> Timer</button>
            <button type="button" class="btn btn-success" id="btn-departure"><i class="fa fa-bus" aria-hidden="true"></i> Bus</button>
            <button type="button" class="btn btn-default" id="btn-weather"><i class="fa fa-tint" aria-hidden="true"></i> Wetter</button>
          </div>
          <button type="button" class="btn btn-lg btn-default" id="btn-reload"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        </div>

        {# isn't a marquee really annoying?! :P #}
        <p class="lead"><marquee scrollamount='10' scrolldelay='10'>{{ marquee }}</marquee></p>

        <footer class="row">
          <div class="col-md-6"><p class="text-center">{{ "now" | date("H:i") }}</p></div>
          <div class="col-md-6"><p class="text-center">{{ "now" | date("d.m.Y")  }}</p></div>
        </footer>
      </div>
    {% endblock %}

    {% block javascripts %}
      <script>
        // timeout in milliseconds after which the weather section will be updated
        var timeouts = {
          weather:   60000 * 24, // 1h
          departure: 10000,      // 10s
        }
        var timers = {};

        function update(subject, refresh) {
          console.debug("Update " + subject);

          $.ajax({
            url: "update_" + subject + ".php",
            success: function(result) {
              // console.debug(result)

              // update HTML content. The HTML element that has the
              // subject name as id attribute will be updated
              $("#" + subject).html(result);
              console.debug(subject + " update successful")

              // prevent multiple timers. this could occure if you call
              // the updateWeather() function in the JavaScript console 
              // of your browser
              if (timers[subject]) {
                clearTimeout(timers[subject]);
              }

              // Set the timeout again if the refresh flag ist set. For this,
              // we bind the current subject as argument to the update
              // function and assign this bound function as callback.
              if (refresh) {
                timers[subject] = setTimeout(update.bind(null, subject, true), timeouts[subject]);
              }
            },
            error: function(xhr, status, error) {
              console.error('!Error. status: ', status, ', message: ', error)
              console.error(xhr)
            },
          });

        }

        $(document).ready(function() {
            // initialize timeouts only if the timer is active
            if ($('#btn-timer').hasClass('btn-success')) {
              for (var key in timeouts) {
                if ($('#btn-' + key).hasClass('btn-success')) {
                  timers[key] = setTimeout(update.bind(null, key, true), timeouts[key]);
                }
              }
            }


            // initialize event listeners
            $('#btn-timer').on('click', function() {
              var btn = $(this);
              if (btn.hasClass('btn-success')) {
                for (var key in timers) {
                  console.debug('Clear timeout ' + key);
                  clearTimeout(timers[key]);
                }
                // toggle class
                btn.removeClass('btn-success');
                btn.addClass('btn-default');
              } else {
                // set all timeouts
                for (var key in timeouts) {
                  // only set timer if the related button has the "btn-success" class
                  if ($('#btn-' + key).hasClass('btn-success')) {
                    console.debug('Set timeout for ' + key + ' to ' + timeouts[key] + 'ms')
                    timers[key] = setTimeout(update.bind(null, key), timeouts[key]);
                  }
                }
                // toggle classes
                btn.removeClass('btn-default');
                btn.addClass('btn-success');
              }
            });

            // Manual reload
            $('#btn-reload').on('click', function() {
              // clear all timers
              for (var key in timers) {
                clearTimeout(timers[key]);
              }

              var refresh = $('#btn-timer').hasClass('btn-success');

              for (var key in timeouts) {
                // only set timer if the related button has the "btn-success" class
                if ($('#btn-' + key).hasClass('btn-success')) {
                  // perform update
                  update(key, false);

                  if (refresh) {
                    // Set timeout again
                    console.debug('Set timeout for ' + key + ' to ' + timeouts[key] + 'ms')
                    timers[key] = setTimeout(update.bind(null, key, refresh), timeouts[key]);
                  }
                }
              }
            });

            for (var key in timeouts) {
              $('#btn-' + key).on('click', function() {
                var btn = $(this);
                // get key from the id attribute of the HTML element
                // by cutting of the first 4 characters ("btn-")
                var key = btn.attr('id').substr(4);

                console.debug(key);

                if (btn.hasClass('btn-success')) {
                  clearTimeout(timers[key]);

                  // toggle class
                  btn.removeClass('btn-success');
                  btn.addClass('btn-default');
                } else {
                  // performce update and set timout again, but only of the timer is active
                  var refresh = $('#btn-timer').hasClass('btn-success');
                  if (refresh) {
                    update(key, refresh);
                  }

                  // toggle class
                  btn.removeClass('btn-default');
                  btn.addClass('btn-success');
                }
              });
            }
        });
      </script>
    {% endblock %}

  </body>
</html>
