<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Abfahrtsmonitor{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="assets/app.min.css">

    <script src="assets/jquery.min.js"></script>
    <script src="assets/bootstrap.min.js"></script>

  </head>
  <body>
    {% block body %}
      <div id="wrapper">
        <div class="row">
          <!-- left -->
          <div class="col-md-7">
            {% for street, departures in stops %}
              <h1>{{ street }}</h1>
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Linie</th>
                    <th>Richtung</th>
                    <th>In Minuten</th>
                  </tr>
                </thead>          
                <tbody>
                  {% for departure in departures %}
                    <tr>
                      <td>{{ departure[0] }}</td>
                      <td>{{ departure[1] }}</td>
                      <td>{{ departure[2] }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endfor %}
          </div>

          <!-- right -->
          <div id="weather">
            {% include 'weather.html' with { 'weather': weather } %}
          </div>

        {# isn't a marquee really annoying?! :P #}
        <p class="lead"><marquee scrollamount='10' scrolldelay='10'>{{ marquee }}</marquee></p>

        <footer class="row">
          <div class="col-md-6"><p class="text-center">{{ "now" | date("H:i") }}</p></div>
          <div class="col-md-6"><p class="text-center">{{ "now" | date("d.m.Y")  }}</p></div>
        </div>
      </footer>

    {% endblock %}

    {% block javascripts %}
      <script>
        // timeout in milliseconds after which the weather section will be updated
        var timeout = 15000;
        var timer;

        function updateWeather() {
          console.debug("Update weather ...");

          $.ajax({
            url: "update_weather.php",
            success: function(result) {
              // console.debug(result)

              // update HTML content
              $("#weather").html(result);

              // prevent multiple timers. this could occure if you call
              // the updateWeather() function in the JavaScript console 
              // of your browser
              if (timer) {
                clearTimeout(timer);
              }

              // set the timeout again
              timer = setTimeout(updateWeather, timeout);
            },
            error: function(xhr, status, error) {
              console.error('!Error. status: ', status, ', message: ', error)
              console.error(xhr)
            },
          });

        }

        $(document).ready(function() {
            timer = setTimeout(updateWeather, timeout);
        })
      </script>
    {% endblock %}

  </body>
</html>
