<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Abfahrtsmonitor{% endblock %}</title>

    <!-- <link rel="stylesheet" type="text/css" href="css/app.css"> -->
  </head>
  <body>
    {% block body %}

      {% for street, departures in stops %}
        <h1>{{ street }}</h1>
        <table>
          <thead>
            <tr>
              <th>Linie</th>
              <th>Richtung</th>
              <th>In Minuten</th>
            </tr>
          </thead>          
          <tbody>
            {% for departure in departures %}
              <tr>
                <td>{{ departure[0] }}</td>
                <td>{{ departure[1] }}</td>
                <td>{{ departure[2] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}

      {# isn't a marquee really annoying?! :P #}
      <h2><marquee scrollamount='10' scrolldelay='10'>{{ marquee }}</marquee></h2>

    {% endblock %}
  </body>
</html>
